<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{msg}}</h1>
        <!--一次性插入，不再修改-->
        <h1 v-once>{{msg}}</h1>

        <!--插入HTML内容-->
        <h1>{{htmlContent}}</h1>
        <h1 v-html="htmlContent"></h1>

        <!--插入text内容-->
        <h1>{{textContent}}</h1>
        <h1 v-text="textContent"></h1>

        <!--绑定动态属性-->
        <div :id="idName">
            <h1>登录</h1>
        </div><hr>

        <!--v-model是一个双向的绑定，用户可以在浏览器上操作数据返回给后端服务器，管理员也可以通过后端数据的更改渲染到浏览器-->
        <h1>传智播客已开设下列课程:</h1>
        <input type="checkbox" v-model="lessons" value="Java">Java<br>
        <input type="checkbox" v-model="lessons" value="Python">Python<br>
        <input type="checkbox" v-model="lessons" value="C++">C++<br>
        <input type="checkbox" v-model="lessons" value="Hadoop">Hadoop<br>
        <!--join是一个拼接的方法-->
        <h1>你已购买下列课程:{{lessons.join(",")}}</h1>
        <hr>

        <!--模板语言-->
        <div>
            {{firstname+lastname}}
        </div>
        <div>
            {{number1+number2}}
        </div>
        <!--三元运算符-->
        <div>
            {{isVip?"欢迎VIP用户回来":"普通用户请充值"}}
        </div>
    </div>

    <script src="js/vue-2.7.14.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jQuery-3.7.0.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      let app = new Vue({
          el:"#app",
          data:{
              msg:"hello Vue",
              htmlContent:'<span>hello</span>',
              textContent: 'world',
              lessons: [],
              idName:"login",
              firstname:"张",
              lastname:"三",
              number1:1,
              number2:2,
              isVip:true,
          }
      })
    </script>
</body>
</html>